In [2]:
import pandas as pd
pd.__version__

'0.25.3'

In [21]:
ser1=pd.Series([1,3,6,2],index=['1','2','3','4'])

ser1.index

ser1['3']

1 in ser1

False

In [30]:
dic={'name':'Nina','age':'23','sex':'girl'}

ser2=pd.Series(dic)

print(ser2)

name    Nina
age       23
sex     girl
dtype: object

In [50]:
data = {'name': ['Bob', 'Nancy','Amy','Elsa','Jack'],
        'year': [1996, 1997, 1997, 1996, 1997],
        'month': [8, 8, 7, 1, 12],
        'day':[11,23,8,3,11]}

myframe = pd.DataFrame(data,index=['a','b','c','d','d'])
myframe1=pd.DataFrame(data,columns=['name','year', 'month', 'day','luckynumber'])
luckynumber = ['3','2','1','7','8']
luckynumber = pd.Series(luckynumber)
myframe3['luckynumber'] = luckynumber
myframe1

    name  year  month  day luckynumber
0    Bob  1996      8   11         NaN
1  Nancy  1997      8   23         NaN
2    Amy  1997      7    8         NaN
3   Elsa  1996      1    3         NaN
4   Jack  1997     12   11         NaN