In [3]:
import pandas as pd
seriesObj = pd.Series(range(10),index=['a', 'a', 'b', 'b', 'b','c','c','c','c','c'])
seriesObj['c']

c    5
c    6
c    7
c    8
c    9
dtype: int64

In [5]:
import numpy as np
df = pd.DataFrame(np.random.randn(4,2),index=['a', 'a', 'b', 'b'])
df

          0         1
a  1.033557 -1.072074
a -0.994593  0.636015
b -1.882518  1.640853
b  0.015821 -0.136891